@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Titillium+Web:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Poppins:wght@100;300;400;500;700&family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+39&display=swap');


.post_image {
  position: relative;
  background: #1b1b1b;
}
a {
  color: #1b1b1b;
}

.single_post_image {
  position: relative;
  width: 400px;
  height: 400px;
  background: #1b1b1b;
}

$black: #1b1b1b;
$lightBlack: #3f3f3f;
$speed: 0.4s;

// DRY CODE
%home_image {
  width: 30%;
  height: 65%;
  top: 15%;
  transform: translateX(0px) scale(calc(8 / 9));
}
%page_image {
  width: 30%;
  height: 70%;
  top: 10%;
  transform: translateX(0px) scale(1);
}

@mixin center-left {
  @extend %home_image;
  left: 20%;
}
@mixin left-left {
  @extend %page_image;
  left: 10%;
}
@mixin center-right {
  @extend %home_image;
  right: 20%;
}
@mixin right-right {
  @extend %page_image;
  right: 10%;
}

// ANIMATION
//.post {
.single_image {
  position: absolute;
  opacity: 1;
  transition: all $speed ease-out, opacity 0s linear $speed;

  &[data-page="blog-post"] {
    background: black;
    @include center-left;
  }
  &[data-page="post"] {
    background: black;
    @include left-left;
  }
}
//}

.page-enter {
  .post_image {
    &[data-page="blog-post"] {
      @include left-left;
    }
    &[data-page="post"] {
      @include center-left;
    }
  }
}

.page-enter-done {
  .post_image {
    &[data-page="blog-post"] {
      @include center-left;
    }
    &[data-page="post"] {
      @include left-left;
    }
  }
}

.blog-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}
.post {
  margin-top: 10%;
  grid-column: 1/6;
}
.post_image{
  box-shadow: -1px 0px 19px 0px rgba(118,118,118,0.66);
  -webkit-box-shadow: -1px 0px 19px 0px rgba(118,118,118,0.66);
  -moz-box-shadow: -1px 0px 19px 0px rgba(118,118,118,0.66);
}
.post:nth-child(odd) {
  .post_title{

  }
}
.post:nth-child(even) {
  margin-top: 60%;
  grid-column: 8/13;
}

.post_title {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
.post_tags {
  list-style: none;
  display: flex;
  transform: rotate(-90deg);
  position: relative;
  bottom: 40%;
  left: 55%;
}
